body{
    background-color: black;
}

.title{
    display: flex;
    justify-content: center;
    font-family: 'robato', sans-serif;
    color: aliceblue;
}


.item{
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.item1{
    grid-area: item1;
    background-color: #00B6BC;
}
.item2{
    grid-area: item2;
    background-color: #329090;
}
.item3{
    grid-area: item3;
    background-color: #1967C9;
}
.item4{
    grid-area: item4;
    background-color: #A166A0;
}
.item5{
    grid-area: item5;
    background-color: #F5B659;
}
.item6{
    grid-area: item6;
    background-color:#00B6BC;
}
.item7{
    grid-area: item7;
    background-color: #00B6BC;
}
.item8{
    grid-area: item8;
    background-color: #00B6BC;
}
.item9{
    grid-area: item9;
    background-color: #59CF6E;
}
.item10{
    grid-area: item10;
    background-color: #329090;
}
.item11{
    grid-area: item11;
    background-color: #1967C9;
}
.item12{
    grid-area: item12;
    background-color: #A166A0;
}
.item13{
    grid-area: item13;
    background-color: #F36D4A;
}
.item14{
    grid-area: item14;
    background-color: #F5B659;
}
.item15{
    grid-area: item15;
    background-color: #00B6BC;
}
.item16{
    grid-area: item16;
    background-color: #00B6BC;
}
.item17{
    grid-area: item17;
    background-color: #59CF6E;
}
.item18{
    grid-area: item18;
    background-color: #329090;
}
.item19{
    grid-area: item19;
    background-color: #1967C9;
}
.item20{
    grid-area: item20;
    background-color: #A166A0;
}
.item21{
    grid-area: item21;
    background-color: #F63851;
}
.item22{
    grid-area: item22;
    background-color: #F63851;
}
.item23{
    grid-area: item23;
    background-color: #F63851;
}
.item24{
    grid-area: item24;
    background-color: #F63851;
}
.item25{
    grid-area: item25;
    background-color: #F63851;
}
.item26{
    grid-area: item26;
    background-color: #F63851;
}
.item27{
    grid-area: item27;
    background-color: #F63851;
}
.item28{
    grid-area: item28;
    background-color: #F63851;
}
.item29{
    grid-area: item29;
    background-color: #F63851;
}
.item30{
    grid-area: item30;
    background-color: #F63851;
}
.item31{
    grid-area: item31;
    background-color: #F36D4A;
}
.item32{
    grid-area: item32;
    background-color: #F5B659;
}
.item33{
    grid-area: item33;
    background-color: #F5B659;
}
.item34{
    grid-area: item34;
    background-color: #00B6BC;
}
.item35{
    grid-area: item35;
    background-color: #59CF6E;
}
.item36{
    grid-area: item36;
    background-color: #329090;
}
.item37{
    grid-area: item37;
    background-color: #1967C9;
}
.item38{
    grid-area: item38;
    background-color: #A166A0;
}
.item39{
    grid-area: item39;
    background-color: #F63851;
}
.item40{
    grid-area: item40;
    background-color: #F63851;
}
.item41{
    grid-area: item41;
    background-color: #F63851;
}
.item42{
    grid-area: item42;
    background-color: #F63851;
}
.item43{
    grid-area: item43;
    background-color: #F63851;
}
.item44{
    grid-area: item44;
    background-color: #F63851;
}
.item45{
    grid-area: item45;
    background-color: #F63851;
}
.item46{
    grid-area: item46;
    background-color: #F63851;
}
.item47{
    grid-area: item47;
    background-color: #F63851;
}
.item48{
    grid-area: item48;
    background-color: #F63851;
}
.item49{
    grid-area: item49;
    background-color: #F36D4A;
}
.item50{
    grid-area: item50;
    background-color: #F36D4A;
}
.item51{
    grid-area: item51;
    background-color: #F5B659;
}
.item52{
    grid-area: item52;
    background-color: #F5B659;
}
.item53{
    grid-area: item53;
    background-color: #59CF6E;
}
.item54{
    grid-area: item54;
    background-color: #329090;
}
.item55{
    grid-area: item55;
    background-color: #1967C9;
}
.item56{
    grid-area: item56;
    background-color: #A166A0;
}
.item57{
    grid-area: item57;
    background-color: #572E56;
}
.item58{
    grid-area: item58;
    background-color: #F63851;
}
.item59{
    grid-area: item59;
    background-color: #F63851;
}
.item60{
    grid-area: item60;
    background-color: #F63851;
}
.item61{
    grid-area: item61;
    background-color: #F63851;
}
.item62{
    grid-area: item62;
    background-color: #F63851;
}
.item63{
    grid-area: item63;
    background-color: #F63851;
}
.item64{
    grid-area: item64;
    background-color: #F63851;
}
.item65{
    grid-area: item65;
    background-color: #F63851;
}
.item66{
    grid-area: item66;
    background-color: #F63851;
}
.item67{
    grid-area: item67;
    background-color: #F36D4A;
}
.item68{
    grid-area: item68;
    background-color: #F36D4A;
}
.item69{
    grid-area: item69;
    background-color: #F36D4A;
}
.item70{
    grid-area: item70;
    background-color: #F5B659;
}
.item71{
    grid-area: item71;
    background-color: #59CF6E;
}
.item72{
    grid-area: item72;
    background-color: #329090;
}
.item73{
    grid-area: item73;
    background-color: #1967C9;
}
.item74{
    grid-area: item74;
    background-color: #A166A0;
}
.item75{
    grid-area: item75;
    background-color: #572E56;
}
.item76{
    grid-area: item76;
    background-color: #F63851;
}
.item77{
    grid-area: item77;
    background-color: #F63851;
}
.item78{
    grid-area: item78;
    background-color: #F63851;
}
.item79{
    grid-area: item79;
    background-color: #F63851;
}
.item80{
    grid-area: item80;
    background-color: #F63851;
}
.item81{
    grid-area: item81;
    background-color: #F63851;
}
.item82{
    grid-area: item82;
    background-color: #F63851;
}
.item83{
    grid-area: item83;
    background-color: #F63851;
}
.item84{
    grid-area: item84;
    background-color: #F63851;
}
.item85{
    grid-area: item85;
    background-color: #859998;
}
.item86{
    grid-area: item86;
    background-color: #859998;
}
.item87{
    grid-area: item87;
    background-color: #859998;
}
.item88{
    grid-area: item88;
    background-color: #859998;
}
.item89{
    grid-area: item89;
    background-color: #859998;
}.item90{
    grid-area: item90;
    background-color: #859998;
}


.container{
    display: grid;
    grid-template-rows: repeat(7, 40px);
    grid-template-columns: repeat(18, 40px);
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 40px;
    grid-template-areas: 
    "  item1   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   item2"
    "  item3   item4   .   .   .   .   .   .   .   .   .   .   item5   item6   item7   item8   item9   item10"
    "  item11   item12   .   .   .   .   .   .   .   .   .   .   item13   item14   item15   item16   item17   item18"
    "  item19   item20   item21   item22   item23   item24   item25   item26   item27   item28   item29   item30   item31   item32   item33   item34   item35   item36"
    "  item37   item38   item39   item40   item41   item42   item43   item44   item45   item46   item47   item48   item49   item50   item51   item52   item53   item54"
    "  item55   item56   item57   item58   item59   item60   item61   item62   item63   item64   item65   item66   item67   item68   item69   item70   item71   item72"
    "  item73   item74   item75   item76   item77   item78   item79   item80   item81   item82   item83   item84   item85   item86   item87   item88  item89    item90"
    ;
}



